export FLY_APP_NAME=sprite-env-prime
export FLY_API_TOKEN="FlyV1 fm2_lJPECAAAAAAAB/a/xBB6Yl7pbcrZj9+vffG/wk6JwrVodHRwczovL2FwaS5mbHkuaW8vdjGWAJLOAA3ObB8Lk7lodHRwczovL2FwaS5mbHkuaW8vYWFhL3YxxDzn+LxqBIyK9RoyGBiHDGdLM8Q8qtYZhkEbccHAglwxid3arFadvqsThkhB+A0sLqV96Q+f4eajtd8WLTPESvauZH29myvF/v/a9sON33CS6BlNKdPSstuLkEwBIBezey7Igxm0bJvRw9dRIyF9V0hHkCxDufFDdgYEPwJIfqkwWvfaGI4ibR5ODZKUA5GBzgB+n6EfBZGCp2J1aWxkZXIfondnHwHEICn2ir3EKezu9Qmg2eTFvYFyK9G/zg0SJvjCkUEOIoSj,fm2_lJPESvauZH29myvF/v/a9sON33CS6BlNKdPSstuLkEwBIBezey7Igxm0bJvRw9dRIyF9V0hHkCxDufFDdgYEPwJIfqkwWvfaGI4ibR5OxBDIRblY4FyYryZCLuYkrLsWw7lodHRwczovL2FwaS5mbHkuaW8vYWFhL3YxmASSzmhUplLOjeyscBcFCpEFDMQQ3DU6wVkFoK3dSvhVANwar8QgbDnCQ19mAV8AhSdT5YXp7ZlXRKUGeBpbyWyUmrLdGgQ="
export SPRITE_TOKEN=f0e4c2f76c58916ec258f246851bea091d14d4247a2fc3e18694461b1816e13b
export SPRITE_URL=https://sprite-env-prime.fly.dev
