go 1.24.4

use (
	./client
	./cmd/sprite-run
	./lib
	./packages/container
	./packages/juicefs
	./packages/leaser
	./packages/port-watcher
	./packages/supervisor
	./packages/wsexec
	./pkg/terminal
	./server
)
