name: Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-*'
  workflow_call:
    inputs:
      tag_suffix:
        description: "Tag suffix or full tag to use for release (e.g., dev-<sha>)"
        required: true
        type: string
      tag_latest:
        description: "Whether to also tag as latest"
        required: false
        type: boolean

jobs:
  # test:
  #   name: Run Tests
  #   uses: ./.github/workflows/test.yml

  release-images:
    name: Release Docker Images
    #needs: test
    uses: ./.github/workflows/release-images.yml
    permissions:
      contents: read
      packages: write
    with:
      tag_suffix: ${{ inputs.tag_suffix || github.ref_name }}
      tag_latest: ${{ inputs.tag_latest != '' && inputs.tag_latest || !contains(github.ref_name, '-') }}
    secrets: inherit

  release-client:
    name: Release Client
    #needs: test
    uses: ./.github/workflows/release-client.yml
    permissions:
      contents: write 
    secrets: inherit
    if: ${{ github.ref_type == 'tag' || inputs.tag_suffix != '' }}
    with:
      tag_suffix: ${{ inputs.tag_suffix || github.ref_name }}