name: Tests

on:
  push:
    branches:
      - main
    paths:
      - 'go.*'
      - 'Dockerfile'
      - 'tests/**'
      - 'server/**'
      - 'lib/**'
      - 'packages/**'
      - 'client/**'
  pull_request:
    paths:
      - 'go.*'
      - 'Dockerfile'
      - 'tests/**'
      - 'server/**'
      - 'lib/**'
      - 'packages/**'
      - 'client/**'
  workflow_call:  # This allows other workflows to call this one

jobs:
  test-lib:
    name: "Tests"
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.24.4

    - name: Test
      run: make test
  
  # validate-traces:
  #   name: Validate Traces
  #   runs-on: ubuntu-latest
  #   needs: [test-models, test-server-integration]
  #   if: success()

  #   steps:
  #   - name: Checkout repo
  #     uses: actions/checkout@v4

  #   - name: Set up Java
  #     uses: actions/setup-java@v4
  #     with:
  #       distribution: 'temurin'
  #       java-version: '11'

  #   - name: Set up Python
  #     uses: actions/setup-python@v4
  #     with:
  #       python-version: '3.x'

  #   - name: Download trace artifacts
  #     uses: actions/download-artifact@v4
  #     with:
  #       name: trace-files
  #       path: server/tests/tmp/

  #   - name: Validate traces
  #     run: make validate-traces
  
